<div class="container"> 
    <h2>Salvar Cliente</h2>
    <form #clienteForm="ngForm">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" placeholder="Informe o nome"  
            required
            name="nome"
            [ngModel]="cliente?.nome"
            (ngModelChange)="cliente.nome = $event" >   
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Informe o email" 
            required
            name="email"
            [ngModel]="cliente?.email"
            (ngModelChange)="cliente.email = $event" >   
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" placeholder="Informe o telefone"
            required
            name="telefone"
            [ngModel]="cliente?.telefone"
            (ngModelChange)="cliente.telefone = $event" >
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!clienteForm.form.valid">Salvar</button>
         <a class="btn btn-secondary" routerLink="/">Voltar </a>
         
    </form>
    </div>