        <form class="inline" (submit)="loginUsuario($event)">
 
 
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
			<h3 class="page-header">Acesso ao Chat</h3>
			</div>
		</div>
 
 <p>
 
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-responsive">
							<fieldset>
								<fieldset class="grupo">
									<div class="campo">
										<label for="nomeadm">E-mail</label>
										<input type="text" id="email" style="width: 23em" >
									</div>          
								</fieldset>
								<fieldset class="grupo">
									<div class="campo">
										<label for="senhaadm">Senha</label>
										<input type="password" id="senha"  style="width: 8em">
									</div>            
								</fieldset>									
							</fieldset>		
						</div>
					</div>
				</div>
  
				<div class="row">
					<div class="col-md-12">
						<!--input type="submit" class="btn btn-primary" value="Logar2">-->
						<button  class="btn btn-default">Logar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>